# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\DEVELOPMENT\09PROJECTS_ROBY66ONE\WEBAPP\TABLERACTJS\appTableReactJsPrj\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
